<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 380" role="img" aria-label="Una cuadrícula de ceros en reposo con un glider del juego de la vida vivo en el centro, mutando en loop entre sus cuatro generaciones para siempre">
  <rect class="fino" x="125" y="95" width="200" height="200" rx="4"/>
  <text class="ruta" x="128" y="78">~/vida.bin</text>

  <text class="cero" x="144" y="115">0</text><text class="cero" x="178" y="115">0</text><text class="cero" x="212" y="115">0</text><text class="cero" x="246" y="115">0</text><text class="cero" x="280" y="115">0</text><text class="cero" x="314" y="115">0</text>
  <text class="cero" x="144" y="149">0</text><text class="cero" x="178" y="149">0</text><text class="cero" x="212" y="149">0</text><text class="cero" x="246" y="149">0</text><text class="cero" x="280" y="149">0</text><text class="cero" x="314" y="149">0</text>
  <text class="cero" x="144" y="183">0</text><text class="cero" x="178" y="183">0</text><text class="cero" x="212" y="183">0</text><text class="cero" x="246" y="183">0</text><text class="cero" x="280" y="183">0</text><text class="cero" x="314" y="183">0</text>
  <text class="cero" x="144" y="217">0</text><text class="cero" x="178" y="217">0</text><text class="cero" x="212" y="217">0</text><text class="cero" x="246" y="217">0</text><text class="cero" x="280" y="217">0</text><text class="cero" x="314" y="217">0</text>
  <text class="cero" x="144" y="251">0</text><text class="cero" x="178" y="251">0</text><text class="cero" x="212" y="251">0</text><text class="cero" x="246" y="251">0</text><text class="cero" x="280" y="251">0</text><text class="cero" x="314" y="251">0</text>
  <text class="cero" x="144" y="285">0</text><text class="cero" x="178" y="285">0</text><text class="cero" x="212" y="285">0</text><text class="cero" x="246" y="285">0</text><text class="cero" x="280" y="285">0</text><text class="cero" x="314" y="285">0</text>

  <text class="uno tinta p1"   x="212" y="149">1</text>
  <text class="uno tinta p123" x="246" y="183">1</text>
  <text class="uno tinta p2"   x="178" y="183">1</text>
  <text class="uno tinta p13"  x="178" y="217">1</text>
  <text class="uno tinta p12"  x="212" y="217">1</text>
  <text class="uno tinta"      x="246" y="217">1</text>
  <text class="uno tinta p234" x="212" y="251">1</text>
  <text class="uno tinta p34"  x="246" y="251">1</text>
  <text class="uno tinta p4"   x="212" y="183">1</text>
  <text class="uno tinta p4"   x="178" y="251">1</text>

  <text class="glosa" x="225" y="325">juego de la vida — glider, en loop</text>
  <text class="glosa" x="225" y="340">tres reglas. complejidad indefinida.</text>
</svg>
