<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 300" role="img" aria-label="Un insecto de circuito posado sobre una línea de volcado hexadecimal, con un tramo corrupto">
  <text class="hex" x="40" y="60">0x00000000&#160;&#160;7f 45 4c 46 02 01 01 00&#160;&#160;00 00 00 00 00 00 00 00&#160;&#160;|.ELF............|</text>
  <text class="hexvivo" x="40" y="160">0x00000010&#160;&#160;50 55 4c 56 49 53 20 45&#160;&#160;54 20 55 4d 42 52 41 00&#160;&#160;|PULVIS ET UMBRA.|</text>
  <g class="tiembla">
    <text class="glitch" x="40" y="260">0x00000020&#160;&#160;de ad de ad de ad de ad&#160;&#160;▓▒ ░▒ de ad ▓▓ ░░ ad 00&#160;&#160;|señal — ruido — |</text>
  </g>
  <rect class="tinta" x="330" y="248" width="44" height="14" opacity=".25"/>
  <rect class="tinta" x="390" y="252" width="20" height="8" opacity=".4"/>

  <g transform="translate(320 122)">
    <path class="fino" d="M-14 -6 L-52 -30 L-52 -52 L-40 -52" />
    <path class="fino" d="M14 -6 L52 -30 L52 -52 L40 -52" />
    <circle class="tinta" cx="-40" cy="-52" r="2.5"/>
    <circle class="tinta" cx="40" cy="-52" r="2.5"/>
    <rect class="trazo" x="-16" y="-14" width="32" height="46" rx="4"/>
    <path class="trazo" d="M-6 -14 A 6 6 0 0 0 6 -14"/>
    <path class="fino" d="M-16 -4 h-10 v8"/>
    <path class="fino" d="M-16 10 h-12 v8"/>
    <path class="fino" d="M-16 24 h-10 v8"/>
    <path class="fino" d="M16 -4 h10 v8"/>
    <path class="fino" d="M16 10 h12 v8"/>
    <path class="fino" d="M16 24 h10 v8"/>
    <path class="fino" d="M-6 -14 L-12 -34 L-6 -44"/>
    <path class="fino" d="M6 -14 L12 -34 L6 -44"/>
    <circle class="tinta" cx="-6" cy="-6" r="2"/>
    <circle class="tinta" cx="6" cy="-6" r="2"/>
  </g>
</svg>
